h1{
    font-family: Poppins, sans-serif;
}

.ancre{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    position: fixed;
    right: 20px;
    bottom: 120px;
}

nav{
    background-color: transparent;
}

ul li{
    display:inline-flex;
    flex-direction: row-reverse;
    padding:20px;
    font: size 20px;
}