body {
    font-family: "Verdana", sans-serif;
    font-weight: 400;
    font-size: 1.05rem;
    background-image: url(../img/fond.png);
    background-size: cover;
    margin: 0;
}

#intro {
    text-align: center;
    font-size: 1.5em;
}

#titre-index{
    text-align: center;
    color: #005A8B;
}

.base{
    margin:20px;
    padding:10px;
    border : 2px solid #5482AB;
    border-radius: 5%;
}

h1{
    margin: 0.5em 2em;
}

h2{
    margin: 0.5em 2em;
}

p{
    margin: 0.5em 2em;
}

.ancre{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    position: fixed;
    right: 20px;
    bottom: 120px;
}

.nav1 ul{
    display: flex;
    margin: 0 5em;
    list-style-type: none;
    text-align: center;
    padding-inline-start: 0;
    font-size: 1em;
    flex-wrap: wrap;
}

.nav1 li{
    display: inline-block;
    flex: 1 1 !important;
    text-decoration: none;
    margin: 0 3em;
}

.nav1 li:hover{
    border: solid;
    border-color: #ffCC00;
    transform: scale(1.10);
    transition: 0.5s;
}

.nav2 ul{
    display: flex;
    margin: 0;
    list-style-type: none;
    text-align: center;
    padding-inline-start: 0;
    font-size: 1em;
    flex-wrap: wrap;
}

.nav2 li{
    display: inline-block;
    flex: 1 1 !important;
    text-decoration: none;
    margin: auto;
    margin: 0.5em;
}

.nav2 li:hover{
    transform: scale(1.10);
    transition: 0.5s;
}

.icone{
    width:2vw;
    display: inline;
    align-items: center;
}

.logo{
    width:27vw;
}

.logo2{
    position: absolute;
    right: 0;
    width: 5%;
}

header {
    margin-top: 0;
    right: 0;
    left: 0;
    border: none;
    background-color: #00558b;
}

footer{
    right: 0;
    left: 0;
    margin-bottom: 0;
    background-color: #00558b;
    color:#fff;
    text-align: center;
}

footer img{
    display: inline-block;
    vertical-align: middle;
    width: 20%;
    height: auto;
}

hr{
    color: #e8ce7e;
}

button{
    background-color: #ffCC00;
    border: none;
    color: #000000;
    padding: 15px 32px;
    text-decoration: none;
    font-size: 16px;
    margin: 1em 2em;
    cursor: pointer;
    border-radius: 12px;
}

#barre-sport ul{
    display: flex;
    list-style-type: none;
    text-align: center;
    padding-inline-start: 0;
    font-size: 1em;
    flex-direction: column;
}

#barre-sport li{
    display: inline-block;
    flex: 1 1 !important;
    text-decoration: none;
}

#barre-sport img{
    border-radius: 5%;
    width: 20%;
    height: 60%;
}

#barre-sport img:hover{
    transform: scale(1.10);
    transition: 0.5s;
}

#fond-video{
    display: flex;
    justify-content: center;
    background-color: #00B0CA;
    border-radius: 10%;
    margin: 1% 40%;
    padding: 1%;
    box-shadow: 0 0 1em #000000;
}

#fond-video iframe{
    width: 100%;
}

#attestation {
    color: #fff;
    text-decoration: none;
}

.nav1 a {
    color: #fff;
    text-decoration: none;
}

.nav1 a:visited {
    color: #fff;
    text-decoration: none;
}

a {
    color: #000;
    text-decoration: none;
}

#a-propos li{
    list-style-type: none;
}

.sport{
    width:10vw;
}

iframe{
    text-align: center;
}