h1{
    font-family: Poppins, sans-serif;
}

.ancre{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    position: fixed;
    right: 20px;
    bottom: 120px;
}

nav ul{
    background-color: transparent;
    display:flex;
    flex-direction: row;
    padding:20px;
    font: size 20px;
    justify-content:space-between;
}

.icone{
    width:6vw;
    display: inline;
    align-items: center;






}


.logo{

    width:27vw;
}

.reseaux{
    background-color: #00558b;


}