body {
    font-family: "Verdana", sans-serif;
    font-weight: 400;
    font-size: 1.05rem;
    background-image: url(../img/fond.png);
    background-size: cover;
    margin: 0;
}

#intro {
    text-align: center;
    font-size: 1.5em;
}

#titre-index{
    text-align: center;
    color: #005A8B;
}

.centre{
    text-align: center;
}

.base{
    border: solid 3px #e8ce7e;
    background-color: whitesmoke;
    border-radius:20px;
    box-shadow: 0px 0px 22px -6px rgba(0,0,0,0.32);
    margin:1em 3em;
    padding: 1em;
}

.invisible2{
    background-color: whitesmoke;
    border-radius:20px;
    margin:1em 3em;
    padding: 1em;
}

.special{
    width: 100vw;
    text-align: center;
}
.sectionsport{
    display:flex;
    flex-wrap:wrap;
    margin-left: auto;
    margin-right:auto;
    border: solid 3px #e8ce7e;
    background-color: whitesmoke;
    border-radius:20px;
    box-shadow: 0px 0px 22px -6px rgba(0,0,0,0.32);
    margin:1em 3em;
    padding: 1em;
}
.invisible{
    display:flex;
    flex-wrap:wrap;
    margin-left: auto;
    margin-right:auto;
    margin:1em 3em;
    padding: 1em;
}

.p_info{
    margin-left: 3em;
}

.p_info a:hover{
    color: #00B0CA;
}

h1{
    margin: 0.5em 2em;
}

h2{
    margin: 0.5em 2em;
}

h3{
    margin: 0.5em 1em;
}

h4{
    margin: 0.5em 2em;
}

p{
    margin: 0.5em 2em;
}

.ancre{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    position: fixed;
    right: 20px;
    bottom: 120px;
}

.nav1 ul{
    display: flex;
    margin: 0 5em;
    padding-bottom: 1em;
    list-style-type: none;
    text-align: center;
    padding-inline-start: 0;
    font-size: 1em;
    flex-wrap: wrap;
}

.nav1 li{
    display: inline-block;
    flex: 1 1 !important;
    text-decoration: none;
    margin: 0 3em;
}

.nav1 li:hover{
    transform: scale(1.10);
    transition: 0.5s;
}

.nav2 ul{
    display: flex;
    margin: 0;
    list-style-type: none;
    text-align: center;
    padding-inline-start: 0;
    font-size: 1em;
    flex-wrap: wrap;
}

.nav2 li{
    display: inline-block;
    flex: 1 1 !important;
    text-decoration: none;
    margin: 0.5em 0;
}

.nav2 li:hover{
    transform: scale(1.10);
    transition: 0.5s;
}

.icone{
    width:2vw;
    display: inline;
    align-items: center;
}

.logo{
    width:27vw;
}

.logo2{
    position: absolute;
    right: 0;
    width: 5%;
    margin: 2em;
}

header {
    margin-top: 0;
    right: 0;
    left: 0;
    border: none;
    background-color: #00558b;
}

footer{
    right: 0;
    left: 0;
    margin-bottom: 0;
    background-color: #00558b;
    color:#fff;
    text-align: center;
}

footer img{
    display: inline-block;
    vertical-align: middle;
    width: 20%;
    height: auto;
}

hr{
    color: #e8ce7e;
}

button{
    background-color: #e8ce7e;
    border: none;
    color: #000000;
    padding: 15px 32px;
    text-decoration: none;
    font-size: 16px;
    margin: 1em 2em;
    cursor: pointer;
    border-radius: 12px;
}

.sport-list ul{
    display: flex;
    margin: auto;
    padding: 0;
    list-style-type: none;
    text-align: center;
    padding-inline-start: 0;
    font-size: 1em;
    flex-wrap: wrap;
    color: transparent;
}

.sport-list li{
    display: inline-block;
    flex: 1 1 !important;
    text-decoration: none;
    margin: 0 3em;
    color: #000;
}

.sport{
    border-radius: 0.5em;
    width: 20em;
    height: 10em;
    margin : 1vw;
    object-fit: cover;
    color: transparent;
    background-color: rgba(0,0,255,0.32);
}

.sport:hover{
    transform: scale(1.05);
    transition: 0.5s;
    color: #000;
    list-style-type: none;
}

#fond-video{
    display: flex;
    margin: auto;
    padding: 2%;
    width: 40%;
    height: 15em;
    justify-content: center;
    background-color: #00B0CA;
    border-radius: 10%;
    box-shadow: 0 0 1em #000000;
}

@media (min-width: 864px) {
    #fond-video {
        margin: auto;
        padding: 2%;
        width: 60%;
        height: 15em;
    }
  }

  @media (min-width: 790px) {
    #fond-video {
        margin: auto;
        padding: 2%;
        width: 60%;
        height: 15em;
    }
  }

#fond-video iframe{
    width: 100%;
}

#attestation {
    color: #fff;
    text-decoration: none;
}

.nav1 a {
    color: #fff;
    text-decoration: none;
}

.nav1 a:visited {
    color: #fff;
    text-decoration: none;
}

a {
    color: #000;
    text-decoration: none;
}

.plus p>span:hover {
    color: #00f;
    text-decoration: underline blue;
}

.coupe_iut {
    display: flex;
    margin: auto;
}

.coupe_iut img{
    margin: auto;
    width: 20%;
    height: 50%;

}

iframe{
    text-align: center;
    
}

.couleur:hover{
    background-color: whitesmoke;
    border: solid 1px #e8ce7e;


}


.info p> span{
background-color: rgb(221, 219, 219);


    
}

.container {
  position: relative;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  backface-visibility: hidden;
  background-color: #00558b99;
  border-radius: 5%;
  width: 20em;
  height: 10em;
  margin : 1vw;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
    color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

table{
    display: flex;
    margin: auto;
}

th {
    border:solid;
}

td{
    border:solid;
    text-align: center;
}
.tableau{
    border-collapse: collapse;
    min-width: 400px;
    width : auto;
    box-shadow: 0 5px 50px rgba(0,0,255,0.32);
    cursor:pointer;
    margin : 100px auto;
    border : 1px solid #ddd;
}

thead tr {
    background-color: midnightblue;
    color: #fff;
    text-align:left;
}

th,td {
    padding : 15px 20px;;
}

tbody tr, td, th{
    border :1px solid #ddd;
}

tbody tr:nth-child{
    background-color: #f3f3f3;
}

tbody tr:last-of-type{
    border-bottom: 2px solid midnightblue;
}

.alignement{
    text-align: center;
}

