body {
    font-family: "Titillium Web", sans-serif;
    font-weight: 400;
    font-size: 1.05rem;
    background-image: url(../img/fond.png);
    background-size: cover;
    margin: 0;
}
.corps{
    margin-top: 2em;
}

h1{
    font-family: Poppins, sans-serif;
}

#intro {
    text-align: center;
    font-size: 1.5em;
}

#titre-index{
    text-align: center;
    color: #005A8B;
}

.ancre{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    position: fixed;
    right: 20px;
    bottom: 120px;
}

nav ul{
    display: flex;
    list-style-type: none;
    text-align: center;
    padding-inline-start: 0;
    font-size: 1em;
    flex-wrap: wrap;
}
}

nav li{
    display: inline-block;
    flex: 1 1 !important;
    text-decoration: none;
}

nav li:hover {
    transform: scale(1.10);
    transition: 0.5s;
}

.icone{
    width:2vw;
    display: inline;
    align-items: center;
}

.logo{
    width:27vw;
}

header {
    margin-top: 0;
    right: 0;
    left: 0;
    border: none;
    background-color: #00558b;
}

.reseaux{
    background-color: #00558b;
}

footer{
    margin-bottom: 0;
    right: 0;
    left: 0;
    background-color: #00558b;
    color:white;
    text-align: center;
}

footer img{
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
    height: auto;
}

body{
background-image: url(../img/fond.png);
background-size: cover;
}

hr{
    color: #e8ce7e;
}

button{
    background-color: #00558b;
    border: none;
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}

#attestation {
    color: white;
    text-decoration: none;
}

a {
    color: white;
    text-decoration: none;
}

a:visited {
    color: white;
    text-decoration: none;
}