body {
    font-family: "Titillium Web", sans-serif;
    font-weight: 400;
    font-size: 1.05rem;
    background-image: url(../img/fond.png);
    background-size: cover;
}

h1{
    font-family: Poppins, sans-serif;
}

.ancre{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    position: fixed;
    right: 20px;
    bottom: 120px;
}

nav ul{
    background-color: transparent;
    display:flex;
    flex-direction: row;
    padding:20px;
    font: size 20px;
    justify-content:space-between;
}

.icone{
    width:2vw;
    display: inline;
    align-items: center;

}


.logo{
    width:27vw;
}

.reseaux{
    position: absolute;
    right: 1px;
    left: 0;
    top: 0;
    background-color: #00558b;
}

footer{
    position: absolute;
    right: 1px;
    left: 0;
    bottom: 0;
    background-color: #00558b;
    font-size: .9rem;
    color:white;
    padding: 3rem;
    text-align: center;
}



footer img{
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
    height: auto;


}

body{
background-image: url(../img/fond.png);
background-size: cover;

}

hr{
    color: #e8ce7e;
}